.App {
  font-family: sans-serif;
  text-align: center;
}

.tictac {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.box {
  display: flex;
  height: 50px;
  width: 50px;
  background: white;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  align-items: center;
  outline: none;
  border: 1px solid gray;
  border-collapse: collapse;
}
.box:hover:not([disabled]) {
  background: whitesmoke;
}

.winner {
  background: teal;
  color: white;
}
